<style type="text/css">
    .root
    {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .box
    {
        width: 600px;
        border-radius: 20px;
        background-color: #E6E6FA; 
        margin-top: 30px;
        padding: 30px;
        box-shadow: 0px 0px 21px black;
        
    
    
    
    }
    .gap
    {
        margin-top: 20px;
    
    
    }
   
    </style>
    
    <html>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        
        


        <script src="https://code.jquery.com/jquery-3.6.0.min.js">
        </script>
        <script src="/javascripts/project.js">
        </script>
        
        <title>
          Admin Login
        </title>
          
          <body style="background-color: #4B0082;">
              <form action="/admin/checklogin" method="post">
                <div class="root">
                    <div class="box">
                        

                        <div class="row">
                              
                                <div style="padding-left: 20px;font-size: 24px;color: #4B0082;font-weight: bolder;letter-spacing: 2px;">
                                    <i style="font-size: 30px;" class="fas fa-sign-in-alt"></i>
                                    ADMIN LOGIN
                                </div>  
                    
                        </div>
                         
                        <div class="row gap">
                          
                            <img style="justify-content: left;display: flex;align-items: left;" src="/images/adminlogin.png" width="250">
                                 
                            <div class="col gap">

                                
                              <label for="inputEmail4" style="font-weight: bold;">Enter Admin ID/Email</label>
                              <input required type="email" name="emailid" class="form-control" id="inputEmail4" placeholder="Admin ID/Email">

                              <label for="inputPassword4" style="font-weight: bold;">Enter Password</label>
                              <input required type="password" name="password" class="form-control" id="inputPassword4" placeholder="Password">

                              <div class="gap" style="justify-content: center;display: flex;align-items: center;">                  
                                <button type="submit" style="width: 290px; font-weight: bold;" class="btn btn-outline-primary">Sign in</button>
                              </div>
                              <div class="gap" style="font-weight: bold;">

                                <%=msg %>

                                </div>

                              

                            </div>   
                            

                        </div>    
                       
                                
                        <div class="row">
                            <div class="col gap">      
                                
                            </div>
       
                        </div>
                
                    </div>
                </div>
                  

              </form>
          </body>
    </html>

